<div class='entry-index'>
  <div class="back-button">

    {{#link-to 'index'}} <i class="fa fa-angle-double-left"></i> back {{/link-to}}

  </div>
  <div class="entry-index-title">

    {{title}}

  </div>


  <div class='entry-index-body'>

    {{markdown-to-html body}}

  </div>
  {{#if session.isAuthenticated}}

    <div class='entry-index-editLink'>

      {{#link-to 'entry.edit' this class='text-primary'}}edit{{/link-to}}

    </div>

  {{/if}}

</div>

