html, body {
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

hr {
  margin: 0.5em 0;
}

a {
  color: #22BAD9;
  font-weight: 400;
}

a:hover {
  color: #aaf1ff;
}

.home-bar {
  background-color: #fff;
}

.entry-icon {
  font-size: 1em;
}

.entry-title {
}

.entry-timestamp,
.entry-tags {
  font-size: 0.7em;
}

.entry-tags a {
  color: #555;
}

.body-text {
  font-size: 1.5em;
}

