@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans);

html, body {
  margin: 0;
  /*height: 100%;*/
  font-size: 100%;
}

body {
  background-color: #fff;
  font-family: 'Noto Serif', serif;
}

hr {
  margin: 0.5em 0;
}

a, a:hover {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin: 0;
}

.login {
  margin-top: 3em;
}

.app-container {
  padding: 0 8em 5em 8em;
}

.paginator {
  margin-top: 2em;
}

.tag-header {
  margin: 0.5em 0;
}

.footer {
  margin-top: 2em;
  font-size: 1em;
  font-family: 'Open Sans';
  a, a:hover {
    color: #555;
  }
  li {
    padding: 0 15px;
  }
}

.entry-listing {
  margin: 2.5em 0;
}

.entry-icon {
  font-size: 1em;
}

.entry-title {
  font-size: 2.5em;
}

.entry-timestamp {
  color: #AAA;
  font-size: 0.8em;
  font-style: italic;
}

.entry-tags a {
  color: #555;
}

.back-button {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1em;
}

.back-button a {
  font-weight: 300;
}

.entry-index {
  padding: 0 15px;
}

.entry-index-editLink {
  display: inline;
}

.entry-index-title {
  margin: 0.5em 0;
  font-size: 3em;
}

.entry-index-body {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.8em;
  }
  line-height: 1.8em;
  a {
    text-decoration: underline;
  }
}

.striked {
  text-decoration: line-through;
}

