<div class="container">
  <div class="row">

    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
  <div class="row footer">
    <div class="col-xs-8 col-sm-5">
      <hr>
      This is {{#link-to 'index'}}chewbonga blog{{/link-to}}<br>
      Operated by <a href="http://adnan-chowdhury.com">Adnan Chowdhury</a>
      <div class="row">
        <div class="col-xs-6">
          <br>
          <img class="img-responsive" src="img/me.jpg">
          {{#if session.isAuthenticated}}
          <br>
          <button class="btn btn-info" {{action 'logout'}}>Logout</button>
          <br>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if session.isAuthenticated}}
    <div class="col-xs-4 col-sm-7 text-right">
      <br>
      {{#link-to 'create'}}<button class="btn btn-success">Create</button>{{/link-to}}
    </div>
    {{/if}}
  </div>
</div>
