<div class="container">
  <div class="row">
    <div class="app-container col-xs-12">

      {{#if session.isAuthenticated}}

        <ul class="nav nav-tabs">

          {{#link-to 'index' tagName='li' href=false}}
            {{#link-to 'index'}}
            Front Page
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'drafts' tagName='li' href=false}}
            {{#link-to 'drafts'}}
            Drafts
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'create' tagName='li' href=false}}
            {{#link-to 'create'}}
            Create 
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'accounts' tagName='li' href=false}}
            {{#link-to 'accounts'}}
            Accounts
            {{/link-to}}
          {{/link-to}}

          <li>
            <a href="#" {{action "logout"}}>Logout</a>
          </li>
        </ul>
      {{/if}}

      {{outlet}}


    </div>
  </div>
</div>
