<div class="container">
  <div class="row">

    <div class="home-bar col-xs-12 col-md-3">
      {{#link-to 'index'}}<img class="img-responsive" src="img/me.jpg">{{/link-to}}
      <h1>Adnan Chowdhury</h1>
      <h3>Human Being</h3>
      {{#if session.isAuthenticated}}
        {{#link-to 'create'}}<button class="btn btn-success">create</button>{{/link-to}}
      {{/if}}
    </div>

    <div class="col-xs-12 col-md-9">
      {{outlet}}
    </div>

  </div>
</div>
