<div class="container">
  <div class="row">
    <div class="app-container col-xs-12">

      {{#if session.isAuthenticated}}

        <ul class="nav nav-tabs">

          {{#link-to 'index' tagName='li' href=false}}
            {{#link-to 'index'}}
              Front Page
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'drafts' tagName='li' href=false}}
            {{#link-to 'drafts'}}
              Drafts
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'create' tagName='li' href=false}}
            {{#link-to 'create'}}
              Create 
            {{/link-to}}
          {{/link-to}}

          {{#link-to 'accounts' tagName='li' href=false}}
            {{#link-to 'accounts'}}
              Accounts
            {{/link-to}}
          {{/link-to}}

          <li>
            <a href="#" {{action "logout"}}>Logout</a>
          </li>
        </ul>

      {{/if}}

      {{outlet}}

      <div class='footer'>
        <hr>

        <ul class='list-unstyled'>
          <li>{{#link-to 'index'}}chewbonga blog{{/link-to}}</li>
          <li><a href='http://adnan-chowdhury.com'>operated by adnan chowdhury</a></li>
          <li><a href='http://github.com/bttf/ember-blog'><i class='fa fa-github'></i> source</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
