<div class="container">
  <div class="row">

    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
  <div class="row footer">
    <div class="col-xs-12 col-sm-5">
      <hr>
      <a href="http://adnan-chowdhury.com">Adnan Chowdhury</a><br>
      Operator of <a href="http://chewbonga.com">chewbonga blog</a><br>
    </div>
  </div>
</div>
