<div class="row">
  <div class="col-xs-12">
    <h1>here shall ye create... stuff</h1>
    <i><h3>- bill shakespeare</h3></i>
    <hr />

    <form>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Title goes here...">
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="10" placeholder="Enter body of text here..."></textarea>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control input-sm" type="text" placeholder="Tags">
          <span class="input-group-btn">
            <button class="btn btn-default input-sm" type="button">Submit</button>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>
