<div class="back-button">
  {{#link-to 'index'}} <i class="fa fa-angle-double-left"></i> back {{/link-to}}
</div>

<h1 class="entry-index-title">{{title}}</h1>

<div class='body'>
  {{markdown-to-html body}}
</div>

<hr />

{{entry-editor 
    entry=model
    saved=saved
    error=error
    saveEntry='saveAndSubmit'
}}
