{{#each entry in controller}}
  {{#unless entry.isDirty}}

    {{partial 'index-list'}}
  
  {{/unless}}
{{/each}}


<div class='row paginator'>
  <div class='col-xs-6 text-left'>

    {{#unless prevPageDisabled}}

      {{#link-to 'index/p' prevPage}}
        <i class='fa fa-angle-double-left'></i> Previous
      {{/link-to}}

    {{/unless}}

  </div>
  <div class='col-xs-6 text-right'>

    {{#if hasMore}}

      {{#link-to 'index/p' nextPage}}
        Next <i class='fa fa-angle-double-right'></i>
      {{/link-to}}

    {{/if}}

  </div>
</div>
