<div class="form-group">
  {{input type="text" id="username" class="form-control" placeholder="username"}}
  {{input type="text" id="password" class="form-control" placeholder="password"}}
</div>
<button class="btn btn-default input-sm" type="button" {{action "auth"}}>Submit</button>
{{outlet}}
